.sidebar{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 400ms;
}

.show__sidebar{
    width: 420px;
    height: 100vh;

}
.sidebar__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.close__icon{
    cursor: pointer;
    color: rgb(198, 19, 19);
    font-size: 30px !important;
}
.close__icon:hover{
    color: red;
}
.sidebar__logo{
    height: 40px;
    
}

.sidebar__item{
    color: #4c6883;
    display: flex;
    padding: 15px;
    padding-left: 30px;
    margin-left: 0;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: all 500ms;
}

.sidebar__item:hover{
    background-color: #f1f5f8;
    width: 100%;
}

.sidebar__item > p{
    margin-left: 15px;
}