.refresh__button{
    padding: 10px 30px;
    margin-top: 60px;
    background-color: #49A6E9;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border:none;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}